<div class="details">
  <app-header></app-header>
  <div class="content">
    <app-sidebar></app-sidebar>
    <div class="body" *ngIf="formation">
      <div class="left" data-aos="fade-right">
        <img src="{{urlPhoto+id}}" class="img" alt="l'image de la formation">
      </div>
      <div class="middle" data-aos="fade-up">
        <h3>
          <b>Nom de formation:</b>
          <br>
          {{ formation.nomFormation }}
        </h3>
        <h3>
          <b>Entité formatrice:</b>
          <br>
          {{ formation.entiteFormatrice }}
        </h3>
        <h3>
          <b> Catégorie: </b>
          <br>
          {{ categorie[formation.categorie] }}
        </h3>
        <h3>
          <b>Date de début:</b>
          <br>
          {{ formation.dateDebut }}
        </h3>
        <h3>
          <b>Heure de début:</b>
          <br>
          {{ formation.time }}
        </h3>
        <h3>
          <b>Nombre de séance:</b>
          <br>
          {{ formation.duree }} Jour(s)
        </h3>
        <h3>
          <b>
            Déscription:
          </b>
          <br>
          {{ formation.description }}
        </h3>
        <button (click)="inscrire()" mat-button class="btn-inscription">S'inscrire</button>
      </div>
      <div *ngIf="formationEnRelation$ |async as formationEnRelation" class="right" data-aos="fade-left">
        <div id="carouselExampleFade" *ngIf="formationEnRelation.length>0" class="carousel slide carousel-fade"
          data-bs-ride="carousel">
          <b>
            En relations:
          </b>
          <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let formation of formationEnRelation">
              <app-card (favoriteEvent)="relaodDetails($event)" (navigateToDetailsEvent)="relaodDetails($event)"
                [dataFormation]="formation"></app-card>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>