*{
    line-height: 25px;
}
.details{
    height: 100vh;
    overflow-y: hidden;
}

.content{
    display: flex;
    height: 100%;
    
}
.body{
    display: flex;
    justify-content:space-around;
    align-items:center ;
    height: 65vh;
    width: 80vw;
    margin: 4em auto;
    padding: 1em;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x:hidden;

}
.top{
    display: flex;
    justify-content: start;

}
.text{
    display: grid;
    margin-left: 1em;

}
img{
    width: 20vw;
}
.description{
    margin: 1em auto;
}
b{
    font-size: 1.2em;
    margin-right: 0.5em;
    text-decoration:underline;
    transition: 0.5s;
}
b:hover{
    color: #ff7900;

}
.btn-inscription{
    display: grid;
    margin: 1em auto;
    height: 3.5em;
    border: 2px solid #000;
    border-radius: 0;
    width: 10vw;
    background-color:#ff7900;
    font-size: 18px;
}
.left{
    display:grid;
    width:20vw;
}
.middle{
    width: 30vw;
    display: grid;
    margin: auto;
}
.right{
    width: 20vw;
}
.right{
    display: grid;
    width: 20vw;
}
.formation-en-relation{
    display:grid;
    overflow-y: scroll;
    height: 60vh;

}
label{
    font-size: 1.2em;
    color: #ff7900;
}

h3{
    font-size: 18px;
}

