<div class="favoris">
    <app-header></app-header>
    <div class="content">
      <app-sidebar></app-sidebar>
      <div class="body">
        <h3 data-aos="fade-down">
            Mes favoris:
        </h3>
        <div class="favoris-elt" data-aos="fade-up" *ngIf="favoris$ |async as favoris">
            <app-empty-box *ngIf="favoris.length==0"></app-empty-box>
            <app-card (favoriteEvent)="refreche($event)" *ngFor="let  f of favoris" [dataFormation]="f"></app-card>
        </div>
      </div>
    </div>
</div>
  