<div class="search-bar" data-aos="fade-right">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label search-title">
      Rechercher des formations:
    </label>

    <div class="search">
      <input
        (keyup.enter)="searchBy(filter.value, text.value)"
        type="text"
        ngModel
        class="form-control"
        #text="ngModel"
        id="exampleFormControlInput1"
        placeholder="je recherche une formation par:Titre ,Compétances ...."
      />
      <select #filter class="form-select" aria-label="Default select example">
        <option selected value="Nom">Nom</option>
        <option value="Description">Description</option>
        <option value="Entite Formatirce">Entité formatrice</option>
      </select>
    </div>
  </div>
  <mat-chip-listbox [(ngModel)]="chipsValue" (click)="filterBy()" class="mb-3">
    <mat-chip-option value="web">Développement Web </mat-chip-option>
    <mat-chip-option value="mobile">Développement Mobile </mat-chip-option>
    <mat-chip-option value="bd"> Bases de données</mat-chip-option>
    <mat-chip-option value="reseau">Réseaux et Sécurité </mat-chip-option>
    <mat-chip-option value="cloud">Cloud Computing </mat-chip-option>
    <mat-chip-option value="ia">IA </mat-chip-option>
    <mat-chip-option value="devops">DevOps </mat-chip-option>
    <mat-chip-option value="gestion">Gestion de Projets </mat-chip-option>
  </mat-chip-listbox>
  <table class="table" data-aos="fade-left">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nom</th>
        <th scope="col">Debut</th>
        <th scope="col">Durée</th>
        <th scope="col">Nombre de Place</th>
        <th scope="col">Entité Formatrice</th>
        <th scope="col">Avancement</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="formations$ | async as formations">
      <app-search-empty-animation data-aos="zoom-out-up" *ngIf="formations.length==0"></app-search-empty-animation>
      <!-- <app-spinner *ngIf="spinner"></app-spinner> -->
      <tr
        *ngFor="let formation of formations"
        matTooltipPosition="right"
        matTooltip="{{ formation.description }}"
        class="example-button"
        [ngClass]="{'confirmed':formation.confirmed}"
      >
        <td>
          <img
            width="30"
            height="30"
            src="{{
              '../../../../../../assets/icons/categorie/' +
                formation.categorie +
                '.png'
            }}"
            alt="{{ formation.categorie }}"
          />
        </td>
        <td>{{ formation.nomFormation }}</td>
        <td>{{ formation.dateDebut }}</td>
        <td>{{ formation.duree }} Jours</td>
        <td>{{ formation.nombrePlace }}</td>
        <td>{{ formation.entiteFormatrice }}</td>
        <td *ngIf="formation.dateDebut">
          {{ progress(formation.dateDebut, formation.duree) }}%
          <mat-progress-bar
            style="height: 1em; width: 6em"
            mode="determinate"
            value="40"
            [value]="progress(formation.dateDebut, formation.duree) + 1"
          >
          </mat-progress-bar>
        </td>

        <td>
          <div class="dropdown">
            <button *ngIf="!formation.confirmed"
              class="btn btn-secondary menu"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              matBadge="{{ formation.numberInscrit }}"
            >
            <span class="material-symbols-outlined"> more_vert </span>
          </button>
          <button
             *ngIf="formation.confirmed"

            class="btn btn-secondary menu"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="material-symbols-outlined"> more_vert </span>
          </button>
            <ul class="dropdown-menu">
              <li>
                <button
                  *ngIf="formation.idFormation"
                  (click)="seeDetails(formation.idFormation,formation.confirmed)"
                  class="dropdown-item"
                >
                <span class="material-symbols-outlined">
                  info
                </span>
                Détails
                </button>
              </li>
              <li>
                <button
                  
                  *ngIf="formation.idFormation && !formation.confirmed"
                  (click)="confirm(formation.idFormation)"
                  class="dropdown-item"
                >
                <span class="material-symbols-outlined">
                  task_alt
                  </span>
                  Confirmer
                </button>
              </li>
              <li>
                <button
                  *ngIf="formation.idFormation"
                  (click)="update(formation.idFormation)"
                  class="dropdown-item"
                >
                <span class="material-symbols-outlined">
                  edit
                  </span>
                  Éditer
                </button>
              </li>
              <li>
                <button
                  *ngIf="formation.idFormation"
                  (click)="delete(formation.idFormation)"
                  class="dropdown-item"
                >
                <span class="material-symbols-outlined">
                  delete
                  </span>
                  Supprimer
                </button>
              </li>
              
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <button
      data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
        (click)="openFormationAdder()"
        class="btn add-btn"
      >
        <span class="material-symbols-outlined add-icon" >add </span>
      </button>
    </tfoot>
  </table>
</div>
<!-- <app-add-formation
  style="width: 0;height: 0;"
  (refreche)="getAllFormation($event)"
></app-add-formation> -->
