<div class=" content mt-5 mb-5">
  <div [ngClass]="{'show':affiche,'success':!toastStatus,'warn':toastStatus}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      {{msg}}
    </div>
  </div>
  <div  data-aos="fade-right" class="left" >
    <img src="../../../../assets/images/registre.jpg" alt="" class="image" />
  </div>
  <div data-aos="fade-left"  class="right">
    <h3>Bienvenue dans votre espace de formation.</h3>
    <div class="actions">
      <div
        class="btn-group"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio1"
          autocomplete="off"
          checked
        />
        <label
          class="btn btn-secondary connecter"
          for="btnradio1"
          (click)="connect()"
          style="background-color: black;"
          >Se connecter</label
        >
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio2"
          autocomplete="off"
          (click)="registre()"
        />
        <label class="btn btn-secondary registre" for="btnradio2"
        style="background-color: #ff7900;color:#fff;"  
        >
          S'inscrire</label
        >
      </div>
    </div>
    <span>
      Améliorez vos compétences grâce à notre plateforme d'inscription aux cours
      en ligne.
    </span>
    <form #regitre="ngForm">
      <div class="mt-3 mb-3">
        <label class="form-label">Nom: </label>
        <input
          #nom="ngModel"
          name="nom"
          ngModel
          type="text"
          class="form-control"
          placeholder="Nom"
          required
        />
        <span class="erreur" *ngIf="nom.invalid && nom.touched"
          >Nom invalide</span
        >
      </div>
      <div class="mt-3 mb-3">
        <label class="form-label">Prénom: </label>
        <input
          name="prenom"
          ngModel
          type="text"
          class="form-control"
          placeholder="Prenom"
          #prenom="ngModel"
          required
        />
        <span class="erreur" *ngIf="prenom.invalid && prenom.touched"
          >Prénom invalide</span
        >
      </div>
      <div class="mt-3 mb-3">
        <label class="form-label">Numéro: </label>
        <input
          name="numero"
          ngModel
          type="tel"
          class="form-control"
          placeholder="12345678"
          pattern="[0-9]{8}"
          #numero="ngModel"
          required
        />
        <span class="erreur" *ngIf="numero.invalid && numero.touched"
          >Numéro invalide</span
        >
      </div>
      <div class="mt-3 mb-3">
        <label class="form-label"> Email: </label>
        <input
          name="email"
          ngModel
          type="email"
          class="form-control"
          placeholder="name@example.com"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          #email="ngModel"
          required
        />
        <span class="erreur" *ngIf="email.invalid && email.touched"
          >Email invalide</span
        >
      </div>
      <div class="mb-3">
        <label class="form-label">Mot de passe:</label>
        <input
          name="password"
          type="password"
          class="form-control"
          placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
          ngModel
          #password="ngModel"
          required
        />
        <span class="erreur" *ngIf="password.invalid && password.touched"
          >Mot de Passe invalide</span
        >
      </div>
      <div class="mb-3">
        <label class="form-label">Profession:</label>
        <select
          #profession="ngModel"
          name="profession"
          ngModel
          class="form-select"
          aria-label="Default select example"
          required
        >
          <option value="Developpeur" selected>Développeur</option>
          <option value="Manager">Manager</option>
        </select>
        <span class="erreur" *ngIf="profession.invalid && profession.touched"
          >Champs obligatoire</span
        >
      </div>
      <div class="mb-3" *ngIf="profession.value=='Developpeur'">
        <label class="form-label">Intérêt:</label>
        <mat-chip-listbox #categorie="ngModel" ngModel  multiple name="categorie" class="mt-3 mb-3" required>
          <mat-chip-option value="web">Développement Web </mat-chip-option>
          <mat-chip-option value="mobile">Développement Mobile </mat-chip-option>
          <mat-chip-option value="bd"> Bases de données</mat-chip-option>
          <mat-chip-option value="reseau">Réseaux et Sécurité </mat-chip-option>
          <mat-chip-option value="cloud">Cloud Computing </mat-chip-option>
          <mat-chip-option value="ia">IA </mat-chip-option>
          <mat-chip-option value="devops">DevOps </mat-chip-option>
          <mat-chip-option value="gestion de projets">Gestion de Projets </mat-chip-option>
        </mat-chip-listbox>
        <span class="erreur" *ngIf="categorie.invalid && categorie.touched"
          >Champs obligatoire</span>
      </div>
      <button
        [disabled]="regitre.invalid"
        type="button"
        class="signup"
        mat-flat-button
        color="primary"
        (click)="onRegistre(regitre)"
      >
        S'identifier
      </button>
    </form>
  </div>
  
</div>
