<div class="content">
  <app-header></app-header>

  <div class="body">
    <div class="members">
      <h3>Membres d'équipe:</h3>
      <ul class="list-unstyled  gap-2 flex-wrap m-0 list">
        <li class="email" *ngFor="let member of members$ | async">
          <span class="tag" id="labelTag2">
            <svg width="1rem" height="1rem" fill="currentColor" aria-hidden="true" focusable="false"></svg>
            {{ member }}
            <button class="close" aria-labelledby="labelTag2" (click)="deleteMemeber(member)">
              <span class="visually-hidden">Close</span>
            </button>
          </span>
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="search-bar" data-aos="fade-up">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label search-title">
            Rechercher des membres par email:
          </label>
          <input (keyup.enter)="searchByEmail(text.value)" type="text" ngModel class="form-control" #text="ngModel"
            id="exampleFormControlInput1" placeholder="je cherche les membres de mon equipe ...."
            [(ngModel)]="searchbar" />
        </div>
      </div>
      <div class="operation" data-aos="fade-down">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>nom</th>
              <th>prenom</th>
              <th>numero</th>
              <th>email</th>
              <th></th>
            </tr>
          </thead>
          
          <tbody>
            <app-search-empty-animation  *ngIf="dataDev.length==0"></app-search-empty-animation>
            <tr *ngFor="let dev of dataDev">
              <th scope="row">
                <input class="form-check-input" (click)="checkEmail(dev.email)" type="checkbox" [value]="dev.email"
                  id="flexCheckChecked" />
              </th>
              <td>{{ dev.nom }}</td>
              <td>{{ dev.prenom }}</td>
              <td>{{ dev.numero }}</td>
              <td>{{ dev.email }}</td>
              <td>
                <button class="btn btn-secondary add-btn" type="button" (click)="addOneMemeber(dev.email)">
                  <span class="material-symbols-outlined add-icon">add </span>
                </button>
              </td>
            </tr>
            <!-- <div class="spinner-border spinner" role="status" *ngIf="spinner">
            <span class="visually-hidden">Loading...</span>
          </div> -->
          </tbody>
          <tfoot>
            <button data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="btn btn-secondary add-btn"
              type="button" [disabled]="checkedMail.length == 0" (click)="addMembers()">
              <span class="material-symbols-outlined add-icon">add </span>
            </button>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="spinner" class="spinner">
  <app-spinner></app-spinner>
</div>