*{
    padding:0;
    color: white;
}

.nav{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}

.navbar{
    z-index: 1000;
    width: 100vw;
}
.navbar-nav{
    width: 15vw;
    justify-content: space-around;
}

.btn-menu{

    border-radius: 2em;
}
.menu{
    color:black;
}
.line{
    display: flex;
   
    align-items:center ;
}
.url-active{
    text-decoration: underline;
    text-transform: capitalize;
    color: #ff7900;
}
a{
    color: white;
    text-decoration: none;
}
