<form #entite="ngForm" class="body">
  <h5 class="modal-title" id="staticBackdropLabel">Nouvelle Entite:</h5>
  <hr />
  <table class="table">
    <tr>
      <td>
        <span class="input-group-text" id="basic-addon3"
          >Nom d'Entité Formatrice:</span
        >
      </td>
      <td>
        <input
          [(ngModel)]="eF.nomEntite"
          type="text "
          class="form-control inputs"
          name="nomEntite"
          ngModel
          required
          #nomEntite="ngModel"
          [ngClass]="{
            'is-invalid': nomEntite.invalid || nomEntite.touched,
            'is-valid': nomEntite.valid
          }"
          aria-describedby="basic-addon3"
          placeholder="Nom d'Entité Formatrice"
        />
      </td>
    </tr>
    <tr>
      <td>
        <span for="textarea" class="input-group-text">Description</span>
      </td>
      <td>
        <textarea
          class="form-control textarea inputs"
          required
          #description="ngModel"
          [ngClass]="{
            'is-invalid': description.invalid || description.touched,
            'is-valid': description.valid
          }"
          name="description"
          ngModel
          [(ngModel)]="eF.description"
        ></textarea>
        <label
          *ngIf="entite.value.description as size"
          [ngClass]="{
            green: size.length <= 300,
            yellow: size.length > 300 && size.length < 600,
            orange: size.length > 600
          }"
          style="width: 100%; display: flex; justify-content: end"
        >
          {{ size.length }}/1000
        </label>
      </td>
    </tr>
  </table>
  <button
    style="border-radius: 0"
    [disabled]="entite.invalid"
    mat-flat-button
    class="add-btn"
    (click)="addEntite(entite)"
    color="primary"
  >
    Ajout
  </button>
</form>
