.assigne{
    height: 100vh;
    overflow-y: hidden;
}

.content{
    display: flex;
    height: 100%;
    
}
.body{
 
    height: 80vh;
    width: 80vw;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    overflow:hidden;

}
.top{
    display: flex;
    justify-content: start;

}
.text{
    display: grid;
    margin-left: 1em;
}
img{
    width: 25vw;
}
.description{
    margin: 1em auto;
}
b{
    font-size: 1.1em;
    margin-right: 0.5em;
    text-decoration:underline;
}
.btn-inscription{
    display: grid;
    margin: 1em auto;
    height: 3.5em;
    border: 2px solid #000;
    border-radius: 0;
    width: 20vw;
    background-color:#ff7900;
    font-size: 18px;
}
.left{
    display:grid;
    width:50vw;
}
.right{
    display: grid;
    width: 20vw;
}

label{
    font-size: 1.2em;
    color: #ff7900;
}

h3{
    font-size: 18px;
}
.nav-link{
    cursor: pointer;
}
.nav-tabs{
    display:flex;
    margin: 1em auto;
    width: 60vw;
}