
.nav{
    align-items:center;
    justify-content: space-between;
    border: #000;
}
.material-symbols-outlined{
    font-size: 2em;
}
.navbar{
    z-index: 1000;
    width: 100vw;
}
.line{
    display: flex;
    margin: auto 0.5em;
}
.icon{
    margin-right: 0.5em;
}