.acceuil{
    height: 100vh;
    overflow-y: hidden;
}

.content{
    display: flex;
    height: 100%;
    
}
.body{
    height: 85vh;
    margin: 1em auto;
    background-color: #fff;
    padding:  2em;
  
}
.search-bar{
    width: 70vw;
}
.search-title{
    color: #000000;
    font-size: 1.5em;
    font-weight: bolder;
}

.search{
    display: flex;
    border: 2px solid rgba(128, 128, 128, 0.66);
    padding: 0.5em;
}

.form-control{
    width: 75%;
    border: none;
    border-top-left-radius:2em ;
    border-bottom-left-radius:2em;
}
.form-select{
    width:25%;
    height: 2.5em  ;
    border: none;
    font-size: 20px;
    padding: 0.5em;
    text-align: center;
    color: #fff;
}
.form-select option{
    color: #000;
    border: none;
    background-color:#fff;
    font-size: 18px;
}
.form-select option:hover{
    color: #fff;
}

.material-symbols-outlined{
    font-size: 2em;
    margin-right: 0.5em;
    
}
.menu{
    position: absolute;
    z-index: 1000;
    display: grid;
    margin: 0 auto;
}

.formations{
    height: 60vh;
    overflow-y:scroll ;
}

.fomation-grid{
    display: flex;
    flex-wrap: wrap;
   

}
app-card{
    margin: auto 1em;
}


.spinner-border{
    width: 10vw;
    height: 10vw;
    
}
.search-title{
    color: #000000;
    font-size: 1.5em;
    font-weight: bolder;
}

.search{
    padding: 0.5em;

    display: flex;
    border: 2px solid rgba(0, 0, 0);
}
.add-btn{
    background-color: #32c832;
    border: 2px solid #000;
    border-radius: 0;
}
.form-control{
    padding: 0.5em;
    width: 75%;
    border: none;
    border-top-left-radius:2em ;
    border-bottom-left-radius:2em;
}
.form-select{
    border: 2px solid #000;
    width:25%;
    height: 2.5em  ;
    font-size: 20px;
    text-align: center;
    color: #000;
}
.form-select option{
    color: #000;
    border: none;
    background-color:#fff;
    font-size: 18px;
}
