<form #formation="ngForm" class="body">
  <h5 class="modal-title" id="staticBackdropLabel">Nouvelle formation:</h5>
  <hr />
  <table class="table">
    <tbody>
      <tr>
        <td>
          <span class="input-group-text">Nom:</span>
        </td>
        <td>
          <input
            type="text"
            [ngClass]="{'is-invalid': nomFormation.invalid || nomFormation.touched,'is-valid': nomFormation.valid }"
            class="form-control inputs"
            name="nomFormation"
            ngModel
            #nomFormation="ngModel"
            [(ngModel)]="f.nomFormation"
            required
            aria-describedby="basic-addon3"
            placeholder="Nom de Formation"
          />
        </td>
      </tr>
      <tr>
        <td>
          <span class="input-group-text">Nombre de places:</span>
        </td>
        <td>
          <input
            type="number"
            min="1"
            #nombrePlace="ngModel"
            class="form-control inputs"
            required
            [(ngModel)]="f.nombrePlace"
            ngModel
            [ngClass]="{'is-invalid': nombrePlace.invalid || nombrePlace.touched,'is-valid': nombrePlace.valid }"
            name="nombrePlace"
            placeholder="en nombre de place"
            aria-describedby="basic-addon3"
          />
        </td>

      </tr>
      <tr>
        <td>
          <span class="input-group-text">Durée:</span>
        </td>
        <td>
          <input
            type="number"
            class="form-control inputs"
            min="1"
            [ngClass]="{'is-invalid': duree.invalid || duree.touched,'is-valid': duree.valid }"
            required
            name="duree"
            ngModel
            [(ngModel)]="f.duree"
            aria-describedby="basic-addon3"
            #duree="ngModel"
            placeholder="en jours"
          />
        </td>
      </tr>
      <tr>
        <td>
          <span class="input-group-text">Date de début:</span>
        </td>
        <td>
          <input
            type="date"
            class="form-control inputs"
            ngModel
            #dateDebut="ngModel"
            name="dateDebut"
            required
            [(ngModel)]="f.dateDebut"
            [ngClass]="{'is-invalid': dateDebut.invalid || dateDebut.touched,'is-valid': dateDebut.valid }"
            min="{{ today | date: 'yyyy-MM-dd' }}"
            aria-describedby="basic-addon3"
          />
        </td>
      </tr>
      <tr>
        <td>
          <span class="input-group-text">Heure de début:</span>
        </td>
        <td>
          <input
            type="time"
            class="form-control inputs"
            ngModel
            #time="ngModel"
            name="time"
            required
            [(ngModel)]="f.time"
            [ngClass]="{'is-invalid': time.invalid || time.touched,'is-valid': time.valid }"
            min="07:00"
            max="20:00"
            aria-describedby="basic-addon3"
          />
        </td>
      </tr>

      <tr>
        <td>
          <span class="input-group-text">Catégorie:</span>
        </td>
        <td>
          <select
            name="categorie"
            [(ngModel)]="f.categorie"
            ngModel
            required
            #categorie="ngModel"
            [ngClass]="{'is-invalid': categorie.invalid || categorie.touched,'is-valid': categorie.valid }"
            class="form-select inputs"
          >
            <option value="web">Développement Web</option>
            <option value="mobile">Développement Mobile</option>
            <option value="bd">Bases de données</option>
            <option value="reseau">Réseaux et Sécurité</option>
            <option value="devops">DevOps</option>
            <option value="gestion de projets">Gestion de projets</option>
            <option value="cloud">Cloud Computing</option>
            <option value="ia">IA</option>
          </select>
        </td>
      </tr>
    </tbody>

    <tr>
      <td>
        <span class="input-group-text">Entité fomatrice: </span>
      </td>
      <td>
        <select
          name="entiteFormatrice"
          ngModel
          required
          #entiteFormatrice="ngModel"
          [(ngModel)]="f.entiteFormatrice"
          class="form-select inputs"
          [ngClass]="{'is-invalid': entiteFormatrice.invalid || entiteFormatrice.touched,'is-valid': entiteFormatrice.valid}"
        >
          <option
            *ngFor="let entite of entiteFormatice"
            [value]="entite.idEntite"
          >
            {{ entite.nomEntite }}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Photo:</td>
      <td class="mb-3">
        <input 
        class="form-control" type="file"
        name="photo"
        ngModel
        [ngClass]="{'is-invalid': photo==null,'is-valid': photo!=null}"
        accept="image/*"
        (change)="onFileSelected($event)"
        id="formFile"
        required />
      </td>
    </tr>
    <tr>
      <td>
        <span for="textarea" class="input-group-text">Description</span>
      </td>
      <td>
        <textarea
          class="form-control inputs textarea"
          required
          maxlength="1000"
          #description="ngModel"
          [ngClass]="{'is-invalid': description.invalid || description.touched,'is-valid': description.valid}"
          [(ngModel)]="f.description"
          name="description"
          ngModel
          id="textarea"
        ></textarea>
        <label
          [ngClass]="{
            green: size.length <= 300,
            yellow: size.length > 300 && size.length < 600,
            orange: size.length > 600
          }"
          *ngIf="formation.value.description as size"
          style="width: 100%; display: flex; justify-content: end"
        >
          {{ size.length }}/1000
        </label>
      </td>
    </tr>
  </table>
  <button
    [disabled]="formation.invalid"
    mat-flat-button
    *ngIf="!stateBtnConfirme"
    class="add-btn"
    style="border-radius: 0"
    (click)="addFormation(formation)"
    color="primary"
  >
    Ajout
  </button>

  <button
    *ngIf="stateBtnConfirme"
    [disabled]="formation.invalid"
    mat-flat-button
    class="add-btn"
    style="border-radius: 0"
    (click)="confirmFormation(formation)"
    color="primary"
  >
    Confirmer la formation
  </button>
</form>

<div *ngIf="spinner" class="spinner">
  <app-spinner style="position: absolute;top: 50%;left: 50%;z-index: 1000;"></app-spinner>
</div>