<div class="en-cours">
    <app-header></app-header>
    <div class="content">
      <app-sidebar></app-sidebar>
      <div class="body">
        <h3 data-aos="fade-down">
            Certification et badges:
        </h3>
        <div class="en-cours-elt" data-aos="fade-up" >

        </div>
        <button mat-button class="btn-add-badge" (click)="addCertif()">
            <span class="material-symbols-outlined">
                add
            </span>
        </button>

      </div>
    </div>
</div>
  