
<div class="search-bar"  data-aos="fade-right">
    <div  class="mb-3">
      <label for="exampleFormControlInput1" class="form-label search-title">
        Rechercher des entités formatrices:
      </label>
      <div class="search">
        <input
          (keyup.enter)="searchBy(filter.value,text.value)"
          type="text"
          ngModel
          class="form-control"
          #text="ngModel"
          id="exampleFormControlInput1"
          placeholder="je recherche une entité formatrice par:Nom,Description ...."
        />
        <select
          #filter
                      
          class="form-select"
          aria-label="Default select example"
        >
          <option selected value="Nom">Nom</option>
          <option value="Description">Description</option>
        </select>
      </div>
    </div>
  
  <table data-aos="fade-left"  class="table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Nombre de formation</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="entites$ |async as entites">
      <app-search-empty-animation data-aos="zoom-out-up" *ngIf="entites.length==0"></app-search-empty-animation>
      
      <tr   
             *ngFor="let entite of entites;let i = index">
        
          <td>
            {{entite.nomEntite}}
          </td>
          <td>
              {{entite.formationNumber}}
          </td>
          <td>
            {{entite.description}}
          </td>
          <td>
            <div class="dropdown">
              <button
                class="btn btn-secondary menu"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="material-symbols-outlined"> more_vert </span>
              </button>
              <ul class="dropdown-menu">
                <!-- <li><button class="dropdown-item" >Détails</button></li> -->
                <li><button class="dropdown-item" *ngIf="entite.idEntite" (click)="update(entite.idEntite)" >Éditer</button></li>
                <li><button *ngIf="entite.idEntite" (click)="delete(entite.idEntite)" class="dropdown-item">Supprimer</button></li>
              </ul>
            </div>
          </td>
          
      </tr>
    </tbody>
      <tfoot>
        <button
          (click)="oppenEntiteAdder()"
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          class="btn add-btn"
        >
          <span class="material-symbols-outlined add-icon" >add </span>
        </button>
      </tfoot>
  </table>
  