<div class="en-cours">
    <app-header></app-header>
    <div class="content">
      <app-sidebar></app-sidebar>
      <div class="body">
        <h3 data-aos="fade-down">
            Formation en cours:
        </h3>
        <div class="en-cours-elt" data-aos="fade-up" *ngIf="formationEncours$ |async as enCours">
          <app-empty-box *ngIf="enCours.length==0"></app-empty-box>
            <app-card [likeState]="false"  [inProgress]="true" *ngFor="let  f of enCours" [dataFormation]="f"></app-card>
        </div>
      </div>
    </div>
</div>
  