<table class="table" data-aos="fade-up">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nom</th>
        <th scope="col">Debut</th>
        <th scope="col">Durée</th>
        <th scope="col">Heure de début</th>
        <th scope="col">Entité Formatrice</th>
      </tr>
    </thead>
    <tbody *ngIf="confirmed$ | async as formations">
      <!-- <app-spinner *ngIf="spinner"></app-spinner> -->
      <tr
        *ngFor="let formation of formations"
        class="example-button"
      >
        <td>
          <img
            width="30"
            height="30"
            style="margin-left:0.5em ;"
            src="{{
              '../../../../../../assets/icons/categorie/' +
                formation.categorie +
                '.png'
            }}"
            alt="{{ formation.categorie }}"
          />
        </td>
        <td>{{ formation.nomFormation }}</td>
        <td>{{ formation.dateDebut }}</td>
        <td>{{ formation.duree }} Jour(s)</td>
        <td>
            {{formation.time }}
        </td>
        <td>{{ formation.entiteFormatrice }}</td>

      </tr>
    </tbody>
  </table>
