<div *ngIf="dataFormation" class="card" >
    <img  [src]="urlPhoto" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="hearder">
        <h5 style="margin:0" class="card-title">{{dataFormation.nomFormation}}</h5>
        <div class="catergorie">
          <img width="25" style="margin-right:0.5em ;" src="{{'../../../../../../assets/icons/categorie/'+dataFormation.categorie+'.png'}}" alt="categorie">
        </div>

      </div>
      <!-- <p class="card-text fw-bold mb-4">{{dataFormation.description.slice(0,50)+"..."}}</p> -->
      <div class="like-duration">
        <div class="duration">
          <span class="material-symbols-outlined">
            schedule
          </span>
          <div class="time">
            <span class="duration-text">{{dataFormation.duree+' jour(s)'}}</span>
            <span class="duration-text">{{dataFormation.dateDebut}}</span>

          </div>
        </div>
        
        <button *ngIf="likeState" class="like" mat-icon-button [ngClass]="{'btn-colored':dataFormation.liked}" (click)="addToFavorit()">

          <span class="material-symbols-outlined" [ngClass]="{'colored':dataFormation.liked}">
            favorite
          </span>
        </button>
      </div>
      <div *ngIf="inProgress" class="progress">
        {{ progress(dataFormation.dateDebut, dataFormation.duree) }}%
        <mat-progress-bar
          mode="determinate"
          value="40"
          with="200"
          [value]="progress(dataFormation.dateDebut, dataFormation.duree) + 1"
        >
        </mat-progress-bar>          
      </div>
      <a *ngIf="dataFormation.idFormation && ! inProgress"  (click)="navigateToDetails()" class="btn btn-primary detail-btn">Voir détails</a>
    </div>
  </div>
