<div class="content px-3 py-2">
    <ul data-aos="fade-down" class="nav nav-tabs mt-2 mb-2">
        <li *ngIf="preInscriptionState" class="nav-item">
          <button
            (click)="changeToDemande()"
            class="nav-link"
            [ngClass]="{ active: demande }"
            aria-current="page"

            >
            Pré-Inscription
          </button>
        </li>
        <li class="nav-item">
          <button
            (click)="changeFromDemande()"
            class="nav-link"
            [ngClass]="{ active: !demande||!preInscriptionState}"
            aria-current="page"
          >
            Confirmation
          </button>
        </li>
      </ul>
      <app-inscriptions-demandes  *ngIf="demande && preInscriptionState"></app-inscriptions-demandes>
      <app-table-inscriptions *ngIf="!demande ||!preInscriptionState"></app-table-inscriptions>
</div>